<h1>Phonebook</h1>

<h3>Add a friend here:</h3>

<form action="/phones" method="post">
  <label for='name'>Contact name:</label>
  <input id='name' name='name' type='text'>
  <button type="submit">Add Friend</button>
</form>

<ul>
  <% @phones.each() do |phone| %>
    <li><a href="/phones/<%= phone.id() %>"><%= phone.name() %></a></li>
  <% end %>
</ul>